body{
    background: aqua;
}

.head{
    column-count: 2;
    column-width: 50%;
    display: flex;
    justify-content: space-between;
    column-rule-style: solid;
}
.main img{
    width: 250px;
    height: 250px;
    border-radius: 5%;
}

.content h1{
    font-size: 75px;
}