#me{
    columns: 4 250px;
}

.home{
    margin: 0;
    padding: 0;
}

.home img{
    width: 100px;
    height: 125px;
    border-radius: 75%;
}

.home h3{
    font-size: 15px;
    font-weight: 700;
}

.home p{
    font-weight: 500;
}